@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "basic.css";
@import "otherlinks.css";

body {
overflow: hidden;
}

.full {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y proximity;
  overflow: scroll;
  scroll-behavior: smooth;
}

#quick {
padding-top: 1vh;
}

.full::-webkit-scrollbar {
  display: none;
}

.snap {
  width: auto;
  height: auto;
  scroll-snap-align: start;
  min-height: max(800px,100vh);
}

.main {
  height: max(800px,100vh);
  position: relative;
}

.main_back {
  background: linear-gradient(0deg, #FFF 0%, rgba(255, 255, 255, 0) 50%), radial-gradient(94.32% 94.32% at 50% 109.17%, rgba(153, 153, 153, 0) 0%, #d6d6d6 100%);
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

.middle {
  height: max(800px,100vh);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
  overflow: visible;
  position: relative;
  padding: 30px 30px 3px 80px;
  gap: 0px 200px;
}

.card_frame {
  align-self: center;  
}

.namecard, .namecard2, .gradn {
  width: clamp(180px,25vw,280px);
  aspect-ratio: 1/1.75;
  border-radius: 5px;
}

.namecard {
  transform: rotate(20deg);
}

.namecard2 {
  transform: rotate(-20deg);
}

.rotatef, .rotateg {
  animation: hhh;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.rotateg {
  z-index: 3;
  backface-visibility: visible;
  mix-blend-mode: screen;
  opacity: 0.4;
}

.rotateb {
  animation: hh2;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.card .blank, .card_frame {
  width: clamp(180px,25vw,280px);
  aspect-ratio: 1/1.75;
  position: relative;
}

@keyframes hhh {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
@keyframes hh2 {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}
.gradn {
  background: linear-gradient(45deg, rgba(255, 255, 255, 0) 30%, rgb(255, 183, 115) 50%, rgba(255, 255, 255, 0) 70%);
  animation: grrr;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  background-size: 400% 100%;
  transform: rotate(20deg);
}

@keyframes grrr {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}
.namecard_shadow {
  background: radial-gradient(50% 50% at 50% 50%, #e6e6e6 0%, rgba(143, 143, 143, 0) 100%);
  mix-blend-mode: multiply;
  width: 100%;
  height: 20px;
  margin-top: min(10vw,100px);
  animation: hhq;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes hhq {
  0% {
    transform: translateX(-20px);
  }
  50% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(-20px);
  }
}

.slog {
  padding-bottom: 10vh;
  width: fit-content;

}

hr {
  border: none;
  height: 3vh;
}

.autoh {
  height: 26vh;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: clamp(28pt,2.5vw,32pt);
  font-weight: 800;
  text-align: left;
}

p {
  color: #3a3a3a;
  font-size: 20px;
  font-weight: 600;
  line-height: 200%;
}

.mainlink {
  display: block;
  width: fit-content;
  position: relative;
  border-radius: 10px;
  background: linear-gradient(180deg, #E40052 0%, rgba(228, 0, 82, 0.6) 100%);
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  transition: height 0.5s ease-out;
  overflow: hidden;
  height: 50px;
}

.alw {
  display: block;
  padding: 10px 20px;
  transition: 0.5s;
}

.port {
  width: 100%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: min(4vw, 20px);
  box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.178);
  letter-spacing: 2px;
  cursor: pointer;
}

.port .uph {
 width:36px;
 height: 20px;
}

.port .uph img{
  width:100%;
  height:100%;
  transition: 0.5s;
 }
 
.port:hover .uph img{
transform: translateY(-3px);
 }

.stick {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 6;
}


iframe {
  width: 100%;
  height: 0;
  display: none;
}

@media screen and (max-width: 1200px) {

  #quick{ 
    text-align: center;
  }
  
  .main {
    height: max(1000px,100vh);
  }

  .slog {
    margin-top: 40px;
    margin-left: 0px;
    padding-bottom: 0px;
  }

  .card {
    margin-left: 0px;
  }

  h1, p {
    text-align: center;
  }

  h1 {
    font-size: clamp(24px,3.5vw,32px);
  }

  p {
    font-size: clamp(16px,2vw,20px);
  }

  .middle {
    height: auto;
    padding: 10vh 5vw;
    align-items: center;
    gap: 0 1000px;
  }
  
  .mainlink {
    margin: auto;
  }

  .autoh {
    display: none;
  }

}

@media screen and (max-width: 650px) {
  
  .main {
    height: max(800px,100vh);
  }

  .mainlink {
    font-size: 16px;
    height: 46px;
  }

  .alw {
    padding: 10px;
  }
  
  .middle {
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .autoh {
    display: none;
  }

}

.carf {
top: 45vh;
left: min(3vw,20px);
position: fixed;
display: flex;
flex-direction: column;
align-items: center;
}

.car {
  width:8px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #727272;
  cursor: pointer;
  margin-bottom: 10px;
  transition: 0.4s;
}

.car.active {
 width :12px;
 background-Color : #da002f;
}


iframe.news {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  z-index: 15;
}